header {
    text-align: center;
    background-color: rgb(28, 6, 80);
    color: rgb(243, 240, 240);
}

#current-weather {
    padding: 10px;
    background-color: lightgrey;
}

.container {
    margin-top: 20px;
}

.favorable {
    color: green;
}

.moderate {
    color: yellow;
}

.high {
    color: orange;
}

.severe {
    color: red;
}

.extreme {
    color: purple;
}

.center-text {
    text-align: center;
}