header {
    text-align: center;
    background-color: rgb(28, 6, 80);
    color: rgb(243, 240, 240);
}

#current-weather {
    padding: 10px;
    background-color: lightgrey;
}

.container {
    margin-top: 20px;
}

.favorable {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.high {
    background-color: orange;
    color: black;
}

.severe {
    background-color:  red;
    color: white;
}

.extreme {
    background-color: purple;
    color: white;
}

.center-text {
    text-align: center;
}